@font-face {
  font-family: "iconfont"; /* Project id 2850089 */
  src: url('https://at.alicdn.com/t/font_2850089_qacq5vz3gwc.woff2?t=1633781939965') format('woff2'),
       url('https://at.alicdn.com/t/font_2850089_qacq5vz3gwc.woff?t=1633781939965') format('woff'),
       url('https://at.alicdn.com/t/font_2850089_qacq5vz3gwc.ttf?t=1633781939965') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caozuo:before {
  content: "\e659";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-saoma:before {
  content: "\e648";
}

.icon-qiandao:before {
  content: "\e62e";
}

.icon-qiandao1:before {
  content: "\e60f";
}
